{:objects
 {:instances
  {:fields
   {:nid {:type Int}
    :vid {:type Int}
    :instance_date {:type Int}
    :client {:type Int}}}}
 {:queries
  {:instance_by_client
   {:type :instances
    :description "Find instance by client id"
    :args {:client {:type Int}}
    :resolve :query/instance-by-client}}}}
